<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div id="root">
        <div class="inputs container">
            <label for="user-text"></label>
            <input v-model="userInput" type="text" id="user-text" placeholder="Nuovo Elemento">
            <button  @click="addNewToDo()">Aggiungi</button>
        </div>

        <div class="to-do container">
            <ul class="to-do-list">
                <li v-for="(singleToDo, index) in toDo" class="single-to-do" :class="{'to-do-done': singleToDo.toDoDone}">
                    <span class="to-do-text"> {{singleToDo.toDoText}} </span>
                    <div @click="removeToDo(index)" class="delete-actions">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>